.header {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  border-bottom: 1px solid var(--gray);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkGroup {
  display: flex;
  align-items: center;
}